<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="Console2" />
      <package id="vlc" />
      <package id="fiddler" />
      <package id="putty" />
      <package id="windirstat" />
      <package id="SQL2008.Powershell" />
      <package id="SQLSentryPlanExplorer" />
      <package id="sqlbpa.2012" />
      <package id="linqpad4" />
      <package id="IISExpress" source="webpi" />
      <package id="VisualStudio2012Professional" />
    </packages>