# Shortcuts
alias dl='cd ~/Downloads'
alias p='cd ~/projects'
alias h='history'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# IP addresses
alias ipconfig='ifconfig'

#software updates
alias brewery='brew update; brew upgrade; brew cleanup; gem update --system; gem update;'
alias hu='heroku update && heroku plugins:update'
alias springclean='brew cleanup --force -s && rvm cleanup all && gem cleanup'

# General aliases
alias cd..='cd ..'
alias l='ls -l'
alias systail='tail -f /var/log/system.log'
alias top='top -o cpu'
alias c='clear'
alias q='exit'

# PostgreSQL
alias start_pg='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias stop_pg='pg_ctl -D /usr/local/var/postgres stop -s -m fast'
alias tailpg='tail -f ~/Library/Application\ Support/Postgres/var/pg_log/*'

#Redis
alias startredis='redis-server /usr/local/etc/redis.conf'
alias startmemcached='memcached -d'

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Rails aliases
alias tlog='tail -f log/development.log'

#fix camera problems:
alias fix_display_camera='sudo killall VDCAssistant'
