[alias]
	cleanpull = "!f() { git fetch && git rebase -i; }; f"
	goodbye = rm -f
	# Undo a `git push`
	undopush = push -f origin HEAD^:master
	st = status
	d = diff

	# Show files ignored by git:
    	ign = ls-files -o -i --exclude-standard
	pum = push origin master
	hum = push heroku master
	dbyam = update-index --assume-unchanged config/database.yml

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[user]
        email = rob@datachomp.com
        name = rob sullivan
