# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes


# Why yes, I am checking in my whole home dir
.CFUserTextEncoding
.DS_Store
.Motorola Mobility/
.Trash/
.Xauthority
.android/
.bash_history
.bundle/
.cache/
.cargo/
.config/
.cups/
.dbshell
.dropbox-master/
.dropbox/
.ebooksrc
.ec2/
.exercism
.filezilla/
.fontconfig/
.gem/
.gemcert/
.gervill/
.gnupg/
.grunt-init/
.heroku/
.hex/
.irb-history
.irssi/
.jline-clojure.main.history
.lein/
.lesshst
.lighttable/
.local/
.m2/
.mailpile/
.mix/
.mongorc.js
.multirust/
.mysql_history
.netrc
.node-gyp/
.npm/
.npmrc
.nvm/
.oracle_jre_usage/
.pgpass
.pip/
.pow
.pry_history
.psql_history
.psqlrc
.rediscli_history
.rnd
.rvm/
.s3cfg
.sqlite_history
.ssh/
.subversion/
.ttm_scalr_access_info
.ttm_scalr_aliases.json
.twurlrc
.viminfo
